
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
div#root {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  height: 100%;
  /* background-color: aliceblue; */
}
.App{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.content{
  /* margin-top: 100px; */
  /* padding-top: 120px;  */
}
.register-body{
  height: 100vh;
  /* background-color: red; */
}
.signup-box{
  /* height:40%; */
  background-color: white;
  width: 40%;
}